﻿@model List<Safira.Domain.Models.Product.ProductCartViewModel>

<div class="row">
    <div class="col-12">
        <div class="table_desc">
            <div class="cart_page table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th class="product_remove">Xóa</th>
                            <th class="product_thumb">Hình ảnh</th>
                            <th class="product_name">Sản phẩm</th>
                            <th class="product-price">Giá</th>
                            <th class="product_quantity">Số lượng</th>
                            <th class="product_total">Tổng cộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product_remove"><a class="dev-remove-out-cart" data-product-id="@item.ProductId" data-reload-summary="1" href="javascript:void(0)"><span class="lnr lnr-trash"></span></a></td>
                                    <td class="product_thumb">
                                        <a href="/san-pham/@item.ProductId">
                                            <img src="@item.ImageUrl" alt="" />
                                            @*<img src="@Url.Action("Get", "File", new { id = item.PictureId })" alt="">*@
                                        </a>
                                    </td>
                                    <td class="product_name"><a href="/san-pham/@item.ProductId">@item.Name</a></td>
                                    <td class="product-price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</td>
                                    <td class="product_quantity"><input class="dev-quantity-product-ip" data-product-id="@item.ProductId" min="1" max="100" value="@item.Quantity" type="number"></td>
                                    <td class="product_total">@((item.Price * item.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture))</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">Không có sản phẩm nào trong giỏ hàng của bạn.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="coupon_area">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="coupon_code left">
                <h3>Giảm giá</h3>
                <div class="coupon_inner">
                    <p>Xin vui lòng nhập mã giảm giá nếu có</p>
                    <input placeholder="" type="text">
                    <button type="submit">Áp dụng mã giảm giá</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="coupon_code right">
                <h3>Tổng cộng giỏ hàng</h3>
                <div class="coupon_inner">
                    <div class="cart_subtotal">
                        <p>Tổng giá</p>
                        <p class="cart_amount">@Model.Sum(t => t.Price * t.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</p>
                    </div>
                    <div class="cart_subtotal ">
                        <p>Phí vận chuyển</p>
                        <p class="cart_amount"> 0 đ</p>
                    </div>
                    @*<a href="#">Calculate shipping</a>*@
                    <div class="cart_subtotal">
                        <p>Tổng cộng</p>
                        <p class="cart_amount">@Model.Sum(t => t.Price * t.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</p>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="checkout_btn">
                            <a asp-controller="Order" asp-action="Checkout"><i class="fa fa-sign-in"></i> Tiến hàng đặt hàng</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>