﻿@model List<Safira.Domain.Models.Product.ProductCartViewModel>

<div class="col-12">
    <div class="table_desc wishlist">
        <div class="cart_page table-responsive">
            <table>
                <thead>
                    <tr>
                        <th class="product_remove">Xóa</th>
                        <th class="product_thumb">Hình ảnh</th>
                        <th class="product_name">Sản phẩm</th>
                        <th class="product-price">Giá</th>
                        <th class="product_quantity">Trạng thái</th>
                        <th class="product_total">Đặt hàng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="product_remove"><a data-product-id="@item.ProductId" class="dev-remove-out-favourite" href="javascript:void(0)"><span class="lnr lnr-trash"></span></a></td>
                                <td class="product_thumb">
                                    <a href="/san-pham/@item.ProductId">
                                        <img src="@item.ImageUrl" alt="" />
                                        @*<img src="@Url.Action("Get", "File", new { id = item.PictureId })" alt="">*@
                                    </a>
                                </td>
                                <td class="product_name"><a href="/san-pham/@item.ProductId">@item.Name</a></td>
                                <td class="product-price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</td>
                                <td class="product_quantity">Còn hàng</td>
                                <td class="product_total">
                                    <a href="javascript:void(0)" class="dev-add-to-cart" data-product-id="@item.ProductId" data-quantity="1" data-title=" Đặt hàng">
                                        <span class="lnr lnr-cart"></span> Đặt hàng
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6">Không có sản phẩm nào trong danh sách yêu thích của bạn.</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>