﻿@model List<Safira.Domain.Models.Product.ProductCartViewModel>

@{
    ViewData["Title"] = "Giỏ hàng";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cart</h3>
                    <ul>
                        <li><a href="/trang-chu">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shopping_cart_area mt-70">
    <form id="dev-shopping-cart-summary-form" asp-action="GetCartList" asp-controller="Order" data-ajax="true" method="get"
          data-ajax-mode="Replace" data-ajax-update="#dev-shopping-cart-summary-container">
        <div class="container" id="dev-shopping-cart-summary-container">
            <partial name="_CartList" model="Model" />
        </div>
    </form>
</div>

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
             quickViewUrl: '@Url.Action("QuickView", "Product")',
             addToCartUrl: '@Url.Action("AddToCart", "Product")',
             goToOrderUrl: '@Url.Action("GoToOrder", "Product")',
             goToCheckoutUrl: '@Url.Action("CheckOut", "Order")',
             removeOutCartUrl: '@Url.Action("RemoveOutCart", "Product")',
             addToFavouriteUrl: '@Url.Action("AddToFavourite", "Product")',
             getFavouriteUrl: '@Url.Action("GetFavourite", "Product")'
        });
    });
</script>

