﻿@model Safira.Domain.Models.Order.CheckoutViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Đặt hàng";
    var userName = $"{Model.FirstName} {Model.LastName}";
    if (string.IsNullOrEmpty(userName))
        userName = Model.Email;
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Checkout</h3>
                    <ul>
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Checkout_section mt-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="user-actions">

                    @if (string.IsNullOrEmpty(userName))
                    {
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Đã là thành viên?
                            <a class="Returning" href="/dang-nhap" data-returnUrl="checkout" aria-expanded="true">Chọn vào đây để login</a>
                        </h3>
                    }
                    else
                    {
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Cảm ơn bạn @userName đã tin tưởng & ủng hộ shop.
                        </h3>
                    }
                </div>
            </div>
        </div>
        <div class="checkout_form">
            <form asp-controller="Order" asp-action="Checkout" method="post">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3>Chi tiết thanh toán</h3>
                        <div class="row">
                            <div class="col-lg-6 mb-20">
                                <label asp-for="FirstName">Họ <span class="required">*</span></label>
                                <input asp-for="FirstName" type="text">
                            </div>
                            <div class="col-lg-6 mb-20">
                                <label asp-for="LastName">Tên <span class="required">*</span></label>
                                <input asp-for="LastName" type="text">
                            </div>
                            <div class="col-12 mb-20">
                                <label asp-for="Address">Địa chỉ giao hàng <span class="required">*</span></label>
                                <input asp-for="Address" type="text">
                                <span asp-validation-for="Address"></span>
                            </div>
                            <div class="col-12 mb-20">
                                <label asp-for="PhoneNumber">Phone<span class="required">*</span></label>
                                <input asp-for="PhoneNumber" type="text">
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="col-12 mb-20">
                                <label asp-for="Email"> Email Address <span class="required">*</span></label>
                                <input asp-for="Email" type="text">
                            </div>
                            <div class="col-12">
                                <div class="order-notes">
                                    <label for="order_note">Ghi chú</label>
                                    <textarea asp-for="Note" placeholder="Ghi chú về đơn hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h3>Đơn hàng của bạn</h3>
                        <div class="order_table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                        <tr>
                                            <td> @item.Name <strong> × @item.Quantity</strong></td>
                                            <td> @((item.Price * item.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)) </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Phí vận chuyển</th>
                                        <td><strong>0</strong></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Tổng cộng:</th>
                                        <td><strong>@Model.Products.Sum(t => t.Price * t.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="order_button">
                                <button type="submit">Đặt hàng</button>
                            </div>
                            <p><div asp-validation-summary="ModelOnly" class="message-error text-danger"></div></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
             quickViewUrl: '@Url.Action("QuickView", "Product")',
             addToCartUrl: '@Url.Action("AddToCart", "Product")',
             goToOrderUrl: '@Url.Action("GoToOrder", "Product")',
             goToCheckoutUrl: '@Url.Action("CheckOut", "Order")',
             removeOutCartUrl: '@Url.Action("RemoveOutCart", "Product")',
             addToFavouriteUrl: '@Url.Action("AddToFavourite", "Product")',
             getFavouriteUrl: '@Url.Action("GetFavourite", "Product")'
        });
    });
</script>
