﻿
@{
    ViewData["Title"] = "Thankyou";
}

<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="error_form">
                    <h2>Xin chân thành cảm ơn bạn đã tin tưởng và ủng hộ chúng tôi</h2>
                    <p>Rất vui được phục vụ bạn. Chúng tôi sẽ kiểm tra đơn hàng và liên lạc lại sớm nhất cho bạn.</p>
                    <a href="/trang-chu">Tiếp tục mua hàng</a>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

