﻿@model List<Safira.Domain.Models.Product.ProductCartViewModel>
@{
    ViewData["Title"] = "Yêu thích";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Yêu thích</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wishlist_area mt-70">
    <div class="container">
        <form id="dev-wish-list-form" asp-action="GetWishList" asp-controller="Order" data-ajax="true" method="get"
              data-ajax-mode="Replace" data-ajax-update="#dev-wish-list-container">
            <div class="row" id="dev-wish-list-container">
                <partial name="_WishList" model="@Model" />
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="wishlist_share">
                    <h4>Chia sẽ:</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
             quickViewUrl: '@Url.Action("QuickView", "Product")',
             addToCartUrl: '@Url.Action("AddToCart", "Product")',
             goToOrderUrl: '@Url.Action("GoToOrder", "Product")',
             goToCheckoutUrl: '@Url.Action("CheckOut", "Order")',
             removeOutCartUrl: '@Url.Action("RemoveOutCart", "Product")',
             addToFavouriteUrl: '@Url.Action("AddToFavourite", "Product")',
             getFavouriteUrl: '@Url.Action("GetFavourite", "Product")'
        });
    });
</script>