﻿@model Safira.Domain.Models.Account.LoginViewModel

<div class="account_form">
    <h2>Đăng nhập</h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <input name="ReturnUrl" value="@ViewBag.ReturnUrl" type="hidden" />
        <div class="form-group has-feedback">
            <p><div asp-validation-summary="ModelOnly" class="message-error text-danger"></div></p>
        </div>
        <p>
            <label asp-for="Username">Email <span class="required">*</span></label>
            <input asp-for="Username" type="text">
            <span asp-validation-for="Username"></span>
        </p>
        <p>
            <label asp-for="Password">Mật khẩu <span class="required">*</span></label>
            <input asp-for="Password" type="password">
            <span asp-validation-for="Password"></span>
        </p>
        <div class="login_submit">
            <label for="remember">
                <input id="remember" type="checkbox">
                Ghi nhớ
            </label>
            <button type="submit">Đăng nhập</button>
        </div>
    </form>
</div>