﻿@model Safira.Domain.Models.Account.RegisterViewModel

<div class="account_form register">
    <h2>Đăng ký</h2>
    <form asp-action="Register" asp-controller="Account" method="post" data-ajax="true"
          ata-ajax-mode="Replace" data-ajax-update="#dev-temp-content"
          data-ajax-begin="onRegisterBegin" data-ajax-complete="onRegisterComplete">
        <div class="hidden" id="dev-temp-content"></div>
        <input name="ReturnUrl" value="@ViewBag.ReturnUrl" type="hidden" />
        <div class="form-group has-feedback">
            <p><div id="dev-validation-summary-errors-register" class="message-error text-danger message-error text-danger validation-summary-errors"></div></p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-20">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" type="text">
            </div>
            <div class="col-lg-6 mb-20">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" type="text">
            </div>
        </div>
        <p>
            <label asp-for="Username">Email <span class="required">*</span></label>
            <input asp-for="Username" type="text">
            <span asp-validation-for="Username"></span>
        </p>
        <p>
            <label asp-for="Password">Mật khẩu <span class="required">*</span></label>
            <input asp-for="Password" type="password">
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="PhoneNumber">Số điện thoại</label>
            <input asp-for="PhoneNumber" type="text">
        </p>
        <p>
            <label asp-for="Address">Địa chỉ <span></span></label>
            <input asp-for="Address" type="text">
        </p>
        <div class="login_submit">
            <button type="submit">Đăng ký</button>
        </div>
    </form>
</div>