﻿
@{
    ViewData["Title"] = "Đăng nhập/Đăng ký";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    @*<h3>Login</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>
                        <li>Login</li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <partial name="_Login" model="new Safira.Domain.Models.Account.LoginViewModel()" />
            </div>


            <div class="col-lg-6 col-md-6">
                <partial name="_Register" model="new Safira.Domain.Models.Account.RegisterViewModel()" />
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#dev-validation-summary-errors-register").html("");
    });

    function onRegisterBegin() {

    }

    function onRegisterComplete(e) {
        if (e.responseJSON.status === AppCommon.SubmitStatus.Success) {
            var url = '@Url.Action("Index", "Home")';
            window.location.href = url;
        }
        else {
            var message = e.responseJSON.message;
            $("#dev-validation-summary-errors-register").html(message);
        }
    }
</script>