﻿@model Safira.Domain.Models.Blog.BlogReviewModel;

<div class="comments_form">
    <h3>Gởi bình luận </h3>
    <p>Email của bạn sẽ không được công khai. Trường bắt buộc có ký tự *</p>

    <form asp-action="AddReview" asp-controller="Blog" method="POST" data-ajax="true"
          ata-ajax-mode="Replace" data-ajax-update="#dev-temp-content"
          data-ajax-begin="GeneralModule.OnAddReviewBegin" data-ajax-complete="GeneralModule.OnAddReviewComplete">
        <div class="hidden" id="dev-temp-content"></div>
        <div class="row">
            <input type="hidden" asp-for="BlogId" />
            <div class="col-12">
                <label asp-for="Content">Nội dung <span class="required">(*)</span></label>
                <textarea asp-for="Content"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <label asp-for="FullName">Tên <span class="required">(*)</span></label>
            <input asp-for="FullName" type="text">
            <span asp-validation-for="FullName"></span>
        </div>
        <div class="col-lg-6 col-md-6">
            <label asp-for="Email">Email <span class="required">(*)</span></label>
            <input asp-for="Email" type="text">
            <span asp-validation-for="Email"></span>
        </div>
        <button class="button" type="submit">Post Comment</button>
    </form>
</div>