﻿@model Safira.Domain.Models.Blog.BlogModel;
@using Safira.Core.Extensions;
@{ 
    var type = (Safira.Domain.Enums.BlogTypeEnum)Enum.Parse(typeof(Safira.Domain.Enums.BlogTypeEnum), Model.BlogType.ToString());
}
<div class="col-lg-9 col-md-12">
    <div class="blog_wrapper blog_wrapper_details">
        <article class="single_blog">
            <figure>
                <div class="post_header">
                    <h3 class="post_title">@Model.Name</h3>
                    <div class="blog_meta">
                        <p>Đăng bởi : <a href="#">admin</a> / lúc : <a href="#">@Model.CreatedDate.ToString("dd MMMM yyyy")</a> / tại : <a href="#">@type.GetDisplayName()</a></p>
                    </div>
                </div>
                <div class="blog_thumb">
                    <a href="#">
                        <img src="@Model.ImageUrls[0]" alt="@Model.Name" />
                    </a>
                </div>
                <figcaption class="blog_content">
                    <div class="post_content">
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="entry_content">
                        <div class="post_meta">
                            @*<span>Tags: </span>
                            <span><a href="#">, fashion</a></span>
                            <span><a href="#">, t-shirt</a></span>
                            <span><a href="#">, white</a></span>*@
                        </div>
                        <div class="social_sharing">
                            <p>chia sẽ bài viết:</p>
                            <ul>
                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </article>
        <partial name="_RelatedBlog" />
        
        <partial name="_Review" model="Model" />

        <partial name="_AddReview" model="new Safira.Domain.Models.Blog.BlogReviewModel() { BlogId = Model.Id }" />
    </div>

</div>