﻿@using Safira.Domain.PagedList;
@using Safira.Core.Extensions;
@using Safira.App.Extensions;
@model Safira.Domain.Models.Blog.BlogListViewModel
<div class="row">
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var item = Model.Items[i];
        var type = (Safira.Domain.Enums.BlogTypeEnum)Enum.Parse(typeof(Safira.Domain.Enums.BlogTypeEnum), item.BlogType.ToString());
        <div class="col-lg-4 col-md-4 col-sm-6">
            <article class="single_blog">
                <figure>
                    <div class="blog_thumb">
                        <a href="/cam-nang/@item.Id/@item.TitleUrl">
                            @*<img src="@Url.Action("Get", "File", new { id = item.Files[0].Id })" alt="big-1">*@
                            <img src="@item.ImageUrls[0]" alt="@item.Name" />
                            @*<img src="~/images/0000066_0.jpeg" alt=""/>*@
                        </a>
                    </div>
                    <figcaption class="blog_content">
                        <h4 class="post_title"><a href="/cam-nang/@item.Id/@item.TitleUrl">@item.Name</a></h4>
                        <div class="articles_date">
                            <p>@item.CreatedDate.ToString("dd/MM/yyyy") | <a href="#">@type.GetDisplayName()</a> </p>
                        </div>
                    </figcaption>
                </figure>
            </article>
        </div>
    }
</div>
@if (Model.Items.PageCount > 1)
{
    <div class="blog_pagination">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("GetBlogList", "Blog", values:
                   new
                   {
                       @PageNumber = page,
                       @PageSize = Model.CurrentFiltering.PageSize,
                       @SortBy = Model.CurrentFiltering.SortBy,
                       @SortDirection = Model.CurrentFiltering.SortDirection,
                       @SearchKeyword = Model.CurrentFiltering.SearchKeyword
                   }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                   {
                       Display = PagedListDisplayMode.Always,
                       MaximumPageNumbersToDisplay = 5,
                       DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                       DisplayLinkToLastPage = PagedListDisplayMode.Always,
                       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                       DisplayLinkToNextPage = PagedListDisplayMode.Always,
                   }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "dev-blog-list-container", OnComplete = "GeneralModule.OnGetBlogListComplete", OnBegin = "GeneralModule.OnGetBlogListBegin" }))
                </div>
            </div>
        </div>
    </div>
}
@*<div class="blog_pagination">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">next</a></li>
                            <li><a href="#">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
