﻿@model List<Safira.Domain.Models.Blog.BlogModel>
@using Safira.Core.Extensions;
<div class="widget_title">
    <h3>Bài viết gần đây</h3>
</div>
@foreach (var item in Model)
{
    <div class="post_wrapper">
        <div class="post_thumb">
            <a href="/cam-nang/@item.Id/@item.TitleUrl">
                <img src="@item.ImageUrls[0]" alt="@item.Name" />
            </a>
        </div>
        <div class="post_info">
            <h4><a href="/cam-nang/@item.Id/@item.TitleUrl">@item.Name.DisplayBrief()</a></h4>
            <span>@item.CreatedDate.ToString("dd MMMM")</span>
        </div>
    </div>
}
