﻿@model List<Safira.Domain.Models.Blog.BlogReviewModel>

    <div class="widget_title">
        <h3>Bình luận gần đây</h3>
    </div>
    @foreach (var review in Model)
    {
        <div class="post_wrapper">
            <div class="post_thumb">
                <a href="#">
                    <img src="~/frontend/img/avatar.png" alt="">
                </a>
            </div>
            <div class="post_info">
                <span> <a href="#">@review.FullName</a></span><br/>
                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@review.BlogId">@review.Content</a>
            </div>
        </div>
    }
