﻿<form asp-action="GetRecentReviewList" asp-controller="Blog" method="POST" data-ajax="true"
      ata-ajax-mode="Replace" data-ajax-update="#dev-recent-review-list-container" id="dev-recent-review-list-form"
      data-ajax-complete="GeneralModule.OnGetReviewListComplete">
    <div class="widget_list comments" id="dev-recent-review-list-container">

    </div>
</form>