﻿<form asp-action="GetRecentBlogList" asp-controller="Blog" method="POST" data-ajax="true"
      ata-ajax-mode="Replace" data-ajax-update="#dev-recent-blog-list-container" id="dev-recent-blog-list-form"
      data-ajax-complete="GeneralModule.OnGetReviewListComplete">
    <div class="widget_list widget_post" id="dev-recent-blog-list-container">

    </div>
</form>