﻿@model Safira.Domain.Models.Blog.BlogModel;

<form asp-action="GetRelatedBlogList" asp-controller="Blog" method="POST" data-ajax="true"
      ata-ajax-mode="Replace" data-ajax-update="#dev-related-blog-list-container" id="dev-related-blog-list-form"
      data-ajax-complete="GeneralModule.OnGetReviewListComplete">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="categoryId" value="@Model.BlogType" />
    <div class="related_posts" id="dev-related-blog-list-container">

    </div>
</form>

@*<div class="related_posts">
    <h3>Bài viết liên quan</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <article class="single_related">
                <figure>
                    <div class="related_thumb">
                        <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"><img src="~/frontend/img/blog1.jpg" alt=""></a>
                    </div>
                    <figcaption class="related_content">
                        <h4><a href="#">Post with Gallery</a></h4>
                        <div class="blog_meta">
                            <span class="author">By : <a href="#">admin</a> / </span>
                            <span class="meta_date"> April 11, 2019	</span>
                        </div>
                    </figcaption>
                </figure>
            </article>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <article class="single_related">
                <figure>
                    <div class="related_thumb">
                        <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"><img src="~/frontend/img/blog2.jpg" alt=""></a>
                    </div>
                    <figcaption class="related_content">
                        <h4><a href="#">Post with Audio</a></h4>
                        <div class="blog_meta">
                            <span class="author">By : <a href="#">admin</a> / </span>
                            <span class="meta_date"> April 11, 2019	</span>
                        </div>
                    </figcaption>
                </figure>
            </article>
        </div>

    </div>
</div>*@