﻿@model List<Safira.Domain.Models.Blog.BlogModel>

<h3>Bài viết liên quan</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6">
            <article class="single_related">
                <figure>
                    <div class="related_thumb">
                        <a href="/cam-nang/@item.Id/@item.TitleUrl">
                            <img src="@item.ImageUrls[0]" alt="@item.Name" />
                        </a>
                    </div>
                    <figcaption class="related_content">
                        <h4>
                            <a href="/cam-nang/@item.Id/@item.TitleUrl">
                                @item.Name
                            </a>
                        </h4>
                        <div class="blog_meta">
                            <span class="author">Đăng bởi : <a href="#">admin</a> / </span>
                            <span class="meta_date"> @item.CreatedDate.ToString("dd/MM/yyyy")</span>
                        </div>
                    </figcaption>
                </figure>
            </article>
        </div>
    }
</div>