﻿@model Safira.Domain.Models.Blog.BlogModel;

<form asp-action="GetReviewList" asp-controller="Blog" method="POST" data-ajax="true"
        ata-ajax-mode="Replace" data-ajax-update="#dev-review-list-container" id="dev-review-list-form"
        data-ajax-complete="GeneralModule.OnGetReviewListComplete">
    <div class="comments_box">
        @*<h3>3 Comments	</h3>*@

        <input type="hidden" name="id" value="@Model.Id" />
        <div class="comment_list" id="dev-review-list-container">
            <partial name="_ReviewList" model="Model.Reviews" />
        </div>
    </div>
</form>