﻿@model List<Safira.Domain.Models.Blog.BlogReviewModel>

@foreach (var review in Model)
{

    <div class="comment_list">
        <div class="comment_thumb">
            <img src="~/frontend/img/avatar.png" alt="">
        </div>
        <div class="comment_content">
            <div class="comment_meta">
                <h5><a href="#">@review.FullName</a></h5>
                <span>
                    @review.CreatedDate.ToString("dd, MMMM, yyyy") lúc @review.CreatedDate.ToString("hh:mm:ss tt")
                </span>
            </div>
            <p>@review.Content</p>
            <div class="comment_reply">
                @*<a href="#">Phản hồi</a>*@
            </div>
        </div>
    </div>
}
