﻿@model Safira.Domain.Models.Blog.BlogModel;

@{
    ViewData["Title"] = "Chi tiết";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cẩm nang</h3>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Trang chủ</a></li>
                        <li><a href="/cam-nang">cẩm nang</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog_details">
    <div class="container">
        <div class="row">

            <partial name="_BlogDetail" model="Model" />
            <div class="col-lg-3 col-md-12">
                <div class="blog_sidebar_widget">
                    <div class="widget_list widget_search">
                        <div class="widget_title">
                            <h3>Tìm kiếm</h3>
                        </div>
                        <form action="#">
                            <input placeholder="Nhập bài viết cần tìm" type="text">
                            <button type="submit">Tìm</button>
                        </form>
                    </div>
                    <partial name="_RecentReview" />
                    <partial name="_RecentBlog"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
         });
         $("#dev-recent-review-list-form").submit();
         $("#dev-related-blog-list-form").submit();
         $("#dev-recent-blog-list-form").submit();
     });
</script>