﻿@using Safira.Domain.PagedList;
@using Safira.Core.Extensions;
@model Safira.Domain.Models.Blog.BlogListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="home" asp-action="index">trang chủ</a></li>
                        <li><a href="/cam-nang">cẩm nang</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog_page_section blog_reverse mt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="blog_sidebar_widget">
                    <div class="widget_list widget_search">
                        <div class="widget_title">
                            <h3>Tìm kiếm</h3>
                        </div>
                        <form action="#">
                            <input placeholder="Nhập bài viết cần tìm" type="text">
                            <button type="submit">Tìm</button>
                        </form>
                    </div>
                    <partial name="_RecentReview" />
                    <partial name="_RecentBlog" />

                    @*<div class="widget_list widget_tag">
                        <div class="widget_title">
                            <h3>Tag products</h3>
                        </div>
                        <div class="tag_widget">
                            <ul>
                                <li><a href="#">asian</a></li>
                                <li><a href="#">brown</a></li>
                                <li><a href="#">euro</a></li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="blog_wrapper blog_wrapper_sidebar" id="dev-blog-list-container">
                    <partial name="_BlogList" model="Model" />
                    @*<div class="row">
            @for (var i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                var type = (Safira.Domain.Enums.BlogTypeEnum)Enum.Parse(typeof(Safira.Domain.Enums.BlogTypeEnum), item.BlogType.ToString());
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="/cam-nang/@item.Id/@item.Name.ToLower()">
                                    <img src="@Url.Action("Get", "File", new { id = item.Files[0].Id })" alt="big-1">
                                </a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title"><a href="/cam-nang/@item.Id/@item.Name.ToLower()">@item.Name</a></h4>
                                <div class="articles_date">
                                    <p>@item.CreatedDate.ToString("dd/MM/yyyy") | <a href="#">@type.GetDisplayName()</a> </p>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            }
        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
         });
         $("#dev-recent-review-list-form").submit();
         $("#dev-recent-blog-list-form").submit();
     });
</script>