﻿@model Safira.Domain.Models.Blog.BlogViewModel;

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name">Tên bài viết <span class="text-danger">*</span></label>
    <input type="text" asp-for="Name" autofocus class="form-control" placeholder="Nhập tên sản phẩm">
    <span asp-validation-for="Name"></span>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- select -->
        <div class="form-group">
            <label>Trạng thái</label>
            <safira-select asp-items="Model.Status"
                           asp-for-name="StatusId" class="select2" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Nhóm</label>
            <safira-select asp-items="Model.Categories"
                           asp-for-name="BlogType" class="select2" />
        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="Description">Mô tả <span class="text-danger">*</span></label>
    <div class="mb-3">
        <textarea asp-for="Description" class="textarea" placeholder=""
                  style="width: 100%; height: 400px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
</div>
