﻿@model Safira.Domain.Models.Blog.BlogViewModel;

<div class="col-md-12">
    <div class="form-group">
        <div class="zozobox form-design library-img" id="imageBlog">
            <div id="upload-hotel-image" data-upload-url="@Url.Action("UploadAsync", "File")"
                 data-remove-url="@Url.Action("RemoveAsync", "File")" class="dropzone">
                <span class="dz-message">
                    <i class="fa-2x fas fa-camera"></i>
                    <strong>Drag and drop your photos here to upload</strong>
                    <span>or Click here to browse for photos</span>
                </span>
            </div>
        </div>
        <div id="dev-image-container">
            @if (Model.Files.Any())
            {
                for (var i=0; i<Model.Files.Count; i++)
                {
                    var file = Model.Files[i];
                    <input name="Files[@i].Id" type="hidden" value="@file.Id" data-name="@file.SeoFileName">
                }
            }
        </div>
    </div>
</div>