﻿@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="" asp-controller="Home">Trang chủ</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content" style="height:100%;">
        <div class="card dev-ajax-form">
            <div class="card-body p-0">
                <div class="box box-body no-border-top">
                    <form id="dev-Blog-list-form" asp-action="GetList" asp-controller="Blog" data-ajax="true" method="get"
                          data-ajax-mode="Replace" data-ajax-update="#dev-data-container"
                          data-ajax-complete="BlogModule.OnGetDataComplete" data-ajax-begin="BlogModule.OnGetDataBegin">
                        <div class="row">
                            <div class="col-12" id="dev-data-container">
                                <partial name="_BlogList" model="Model" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade dev-confirm-delete-modal">
    <div class="modal-dialog dev-ajax-form-2">
        <div class="modal-content">
            <form asp-action="Delete" asp-controller="Blog" data-ajax="true" method="post"
                  data-ajax-complete="BlogModule.OnDeleteComplete" data-ajax-begin="BlogModule.OnDeleteBegin">
                <div class="modal-header">
                    <h4 class="modal-title">Xóa sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" />
                    <p>Bạn có chắc muốn xóa sản phẩm <i class="dev-delete-item-name text-danger"></i> không?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-outline-primary">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/admin/js/common/pager.js"></script>
<script src="~/admin/js/pages/blog.js" asp-append-version="true"></script>
<script type="text/javascript">
    BlogModule.config({
        mode: AppCommon.ActionMode.View
    });
</script>
