﻿@model Safira.Domain.Models.Product.ReviewModel;


<form asp-action="AddReview" asp-controller="Product" method="POST" data-ajax="true"
      ata-ajax-mode="Replace" data-ajax-update="#dev-temp-content"
      data-ajax-begin="GeneralModule.OnAddReviewBegin" data-ajax-complete="GeneralModule.OnAddReviewComplete">
    <div class="hidden" id="dev-temp-content"></div>
    @*<div class="comment_title">
        <h2>Thêm đánh giá </h2>
        <p>Địa chỉ email của bạn sẽ không được công bố. Các trường bắt buộc được đánh dấu * </p>
    </div>*@
    <div class="product_ratting mb-10">
        <h3>Đánh giá của bạn</h3>
        <ul>
            <li><a href="#"><i class="icon-star"></i></a></li>
            <li><a href="#"><i class="icon-star"></i></a></li>
            <li><a href="#"><i class="icon-star"></i></a></li>
            <li><a href="#"><i class="icon-star"></i></a></li>
            <li><a href="#"><i class="icon-star"></i></a></li>
        </ul>
    </div>
    <div class="product_review_form">
        <div class="row">
            <input type="hidden" asp-for="ProductId" />
            <div class="col-12">
                <label asp-for="Content">Nội dung <span class="required">(*)</span></label>
                <textarea asp-for="Content"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="col-lg-6 col-md-6">
                <label asp-for="FullName">Tên <span class="required">(*)</span></label>
                <input asp-for="FullName" type="text">
                <span asp-validation-for="FullName"></span>
            </div>
            <div class="col-lg-6 col-md-6">
                <label asp-for="Email">Email <span class="required">(*)</span></label>
                <input asp-for="Email" type="text">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <button type="submit">Gởi đánh giá</button>
    </div>
</form>