﻿@model Safira.Domain.Models.Product.ProductModel;

<div class="product_details mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">
                    <div class="dev-large-image-container text-center">
                        <img src="@Model.ImageUrls.First()" alt="big-1" />
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active owl-loaded owl-drag" id="gallery_01">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-459px, 0px, 0px); transition: all 0s ease 0s; width: 1377px;">
                                    @foreach (var item in Model.ImageUrls)
                                    {
                                        <div class="owl-item active" style="width: 99px; margin-right: 15px;">
                                            <li>
                                                <a href="javascript:void(0)" data-picture-url="@item" onclick="GeneralModule.ShowLargeImage(@item)" class="elevatezoom-gallery active dev-show-large-image">
                                                    <img src="@item" alt="zo-th-1">
                                                </a>
                                            </li>
                                        </div>
                                    }
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">
                        <h1><a href="#">@Model.Name</a></h1>
                        <div class=" product_ratting">
                            <ul>
                                <li><a href="#"><i class="icon-star"></i></a></li>
                                <li><a href="#"><i class="icon-star"></i></a></li>
                                <li><a href="#"><i class="icon-star"></i></a></li>
                                <li><a href="#"><i class="icon-star"></i></a></li>
                                <li><a href="#"><i class="icon-star"></i></a></li>
                                <li class="review"><a href="#"> (Đánh giá khách hàng ) </a></li>
                            </ul>
                        </div>
                        <div class="price_box">
                            <span class="current_price">@Model.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                            @if (Model.OldPrice.HasValue)
                            {
                                <span class="old_price">@Model.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                            }
                        </div>
                        <div>
                            <span class="mass">Khối lượng: 1kg</span>
                        </div>
                        <div class="product_desc">
                            <p>
                                @Html.Raw(Model.Useful)
                            </p>
                        </div>
                        <div class="product_variant quantity">
                            <label>Số lượng</label>
                            <input id="dev-add-to-cart-number" min="1" max="100" value="1" type="number">
                            <button class="button dev-add-to-cart" type="button" data-product-id="@Model.Id" data-title=" Thêm vào giỏ hàng"><span class="lnr lnr-cart"></span> Thêm vào giỏ hàng</button>
                            <button class="button btn-order dev-go-to-order" type="button" data-product-id="@Model.Id" data-title=" Đặt hàng"><i class="fa fa-sign-in"></i> Đặt hàng</button>
                        </div>
                        <div class="product_d_action">
                            <a href="javascript:void(0)" class="dev-add-to-favourite" data-no-replace="1" data-product-id="@Model.Id"><span class="lnr lnr-heart"></span> Thêm vào danh sách yêu thích</a>
                        </div>
                        <div class="product_d_action">
                            <div class="note">
                                <i>Do đặc tính sản phẩm nên trọng lượng thực tế có thể chênh lệch so với số lượng bạn đặt hàng. Chúng tôi sẽ xác nhận với bạn khi có sự thay đổi</i>
                            </div>
                        </div>
                    </form>
                    <div class="priduct_social">
                        <ul>
                            <li><a class="facebook dev-share-to-facebook" href="javascript:void(0)" data-product-id="@Model.Id" data-file-id="@Model.Files[0].Id"><i class="fa fa-facebook"></i> Chia sẽ</a></li>
                            <li><a class="twitter disabled" href="javascript:void(0)" title="twitter"><i class="fa fa-twitter"></i> tweet</a></li>
                            <li><a class="pinterest disabled" href="javascript:void(0)" title="pinterest"><i class="fa fa-pinterest"></i> save</a></li>
                            <li><a class="google-plus disabled" href="javascript:void(0)" title="google +"><i class="fa fa-google-plus"></i> share</a></li>
                            <li><a class="linkedin disabled" href="javascript:void(0)" title="linkedin"><i class="fa fa-linkedin"></i> linked</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_d_info mb-65">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active show" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Mô tả</a>
                            </li>
                            @if (!string.IsNullOrEmpty(Model.Processing))
                            {
                                <li>
                                    <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false" class="show">Cách chế biến</a>
                                </li>
                            }
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false" class="show">Nhận xét @if(Model.Reviews.Any()){ <span id="dev-review-count-spn">(@Model.Reviews.Count)</span>}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="info" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sheet" role="tabpanel">
                            <div class="product_d_table">
                                <form action="#">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="first_child">Compositions</td>
                                                <td>Polyester</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Styles</td>
                                                <td>Girly</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Properties</td>
                                                <td>Short Dress</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="product_info_content">
                                <p>
                                    Fashion has been creating well-designed collections since 2010. The
                                    brand offers feminine designs delivering stylish separates and statement
                                    dresses which have since evolved into a full ready-to-wear collection
                                    in which every item is a vital part of a woman's wardrobe. The result?
                                    Cool, easy, chic looks with youthful elegance and unmistakable signature
                                    style. All the beautiful pieces are made in Italy and manufactured with
                                    the greatest attention. Now Fashion extends to a range of accessories
                                    including shoes, hats, belts and more!
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <partial name="_Review" model="Model" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>