﻿@model Safira.Domain.Models.Product.ProductModel;

<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="modal_tab">
            <div class="tab-content product-details-large">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                    <div class="modal_tab_img dev-large-image-container">
                        <img src="@Model.ImageUrls.First()" alt="big-1" />
                    </div>
                </div>
            </div>
            <div class="modal_tab_button">
                <ul class="nav product_navactive owl-carousel owl-loaded owl-drag" role="tablist">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                            @foreach (var file in Model.ImageUrls)
                            {
                                <div class="owl-item">
                                    <li>
                                        <a class="nav-link active dev-show-large-image" data-picture-id="@Model.Id" href="javascript:void(0)"><img src="@file" alt=""></a>
                                    </li>
                                </div>
                            }
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="modal_right">
            <div class="modal_title mb-10">
                <h2 class="product_name"><a asp-controller="Product" asp-action="Index" asp-route-id="@Model.Id">@Model.Name</a></h2>
            </div>
            <div class="modal_price mb-10">
                <span class="new_price">@Model.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                @if (Model.OldPrice.HasValue)
                {
                    <span class="old_price">@Model.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                }
            </div>
            <div class="mb-10">
                <span class="mass">Khối lượng: 1kg</span>
            </div>
            <div class="modal_description mb-15">
                <p>@Html.Raw(Model.Useful)</p>
            </div>
            <div class="variants_selects">
                <div class="modal_add_to_cart">
                    <form>
                        <input id="dev-add-to-cart-number" min="1" max="100" value="1" type="number">
                        <button class="button dev-add-to-cart" type="button" data-product-id="@Model.Id" data-title=" Thêm vào giỏ hàng"><span class="lnr lnr-cart"></span> Thêm vào giỏ hàng</button>
                        <button class="button btn-order dev-go-to-order" type="button" data-product-id="@Model.Id" data-title=" Đặt hàng"><i class="fa fa-sign-in"></i> Đặt hàng</button>
                    </form>
                </div>
            </div>
            <div class="product_d_action">
                <div class="note">
                    <i>Do đặc tính sản phẩm nên trọng lượng thực tế có thể chênh lệch so với số lượng bạn đặt hàng. Chúng tôi sẽ xác nhận với bạn khi có sự thay đổi</i>
                </div>
            </div>
            <div class="modal_social">
                <h2>Chia sẽ</h2>
                <ul>
                    <li class="facebook"><a class="dev-share-to-facebook" href="javascript:void(0)" data-product-id="@Model.Id" data-file-id="@Model.Files[0].Id"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter disabled"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li class="pinterest disabled"><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                    <li class="google-plus disabled"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin disabled"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>