﻿@model Safira.Domain.Models.Product.ProductModel;

<section class="product_area related_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Sản phẩm tương tự</h2>
                </div>
            </div>
        </div>
        <form id="dev-related-product-form" asp-action="GetRelatedProduct" asp-route-id="@Model.CategoryId" asp-controller="Product" data-ajax="true" method="get"
              data-ajax-mode="Replace" data-ajax-update="#dev-related-product-container"
              data-ajax-begin="ProductModule.OnAjaxBegin" data-ajax-complete="ProductModule.OnAjaxComplete">
            <div class="row" id="dev-related-product-container">
            </div>
        </form>
        
    </div>
</section>