﻿@model Safira.Domain.Models.Product.ProductModel;

    <div class="reviews_wrapper">
        <form asp-action="GetReviewList" asp-controller="Product" method="POST" data-ajax="true"
              ata-ajax-mode="Replace" data-ajax-update="#dev-review-list-container" id="dev-review-list-form"
               data-ajax-complete="GeneralModule.OnGetReviewListComplete">
            <input type="hidden" name="id" value="@Model.Id" />
            <div id="dev-review-list-container">
                <partial name="_ReviewList" model="Model.Reviews" />
            </div>
        </form>
        <partial name="_AddReview" model="new Safira.Domain.Models.Product.ReviewModel() { ProductId = Model.Id }" />
    </div>