﻿@model List<Safira.Domain.Models.Product.ReviewModel>

@foreach (var review in Model)
{
    <input type="hidden" name="dev-review-number" value="@Model.Count" />
    <div class="reviews_comment_box">
        <div class="comment_thmb">
            <img src="~/frontend/img/avatar.png" alt="">
        </div>
        <div class="comment_text">
            <div class="reviews_meta">
                <div class="star_rating">
                    <ul>
                        <li><a href="#"><i class="icon-star"></i></a></li>
                        <li><a href="#"><i class="icon-star"></i></a></li>
                        <li><a href="#"><i class="icon-star"></i></a></li>
                        <li><a href="#"><i class="icon-star"></i></a></li>
                        <li><a href="#"><i class="icon-star"></i></a></li>
                    </ul>
                </div>
                <p><strong>@review.FullName - </strong> <span class="comment-date">@review.CreatedDate.ToString("dd, MMMM, yyyy")</span></p>
                <span>@review.Content</span>
            </div>
        </div>
    </div>
}