﻿@model List<Safira.Domain.Models.Product.ProductCartViewModel>
<a href="javascript:void(0)"><span class="lnr lnr-cart"></span><span class="item_count">@Model.Count</span></a>
@if (Model.Any())
{
    <div class="mini_cart">
        <div class="cart_gallery">
            @foreach (var item in Model)
            {
                <div class="cart_item">
                    <div class="cart_img">
                        <a href="/san-pham/@item.ProductId">
                            <img src="@item.ImageUrl" alt=""/>
                            @*<img src="@Url.Action("Get", "File", new { id = item.PictureId })" alt="">*@
                        </a>
                    </div>
                    <div class="cart_info">
                        <a href="/san-pham/@item.ProductId">@item.Name</a>
                        <p>@item.Quantity x <span> @item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture) </span></p>
                    </div>
                    <div class="cart_remove">
                        <a href="javascript:void(0)" class="dev-remove-out-cart" data-product-id="@item.ProductId"><i class="icon-x"></i></a>
                    </div>
                </div>
            }
        </div>
        <div class="mini_cart_table">
            <div class="cart_table_border">
                <div class="cart_total mt-10">
                    <span>Tổng cộng:</span>
                    <span class="price">@Model.Sum(t => t.Price * t.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                </div>
            </div>
        </div>
        <div class="mini_cart_footer">
            <div class="cart_button">
                <a asp-controller="Order" asp-action="Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
            </div>
            <div class="cart_button">
                <a asp-controller="Order" asp-action="Checkout"><i class="fa fa-sign-in"></i> Đặt hàng</a>
            </div>
        </div>
    </div>
}