﻿@model Safira.Domain.Models.Product.ProductModel;
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Sản phẩm</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ProductDetail" model="Model" />

<partial name="_RelatedProduct" model="Model" />

<partial name="~/Views/Home/_QuickView.cshtml" />

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script src="~/frontend/js/pages/product.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
             quickViewUrl: '@Url.Action("QuickView", "Product")',
             addToCartUrl: '@Url.Action("AddToCart", "Product")',
             goToOrderUrl: '@Url.Action("GoToOrder", "Product")',
             goToCheckoutUrl: '@Url.Action("CheckOut", "Order")',
             removeOutCartUrl: '@Url.Action("RemoveOutCart", "Product")',
             addToFavouriteUrl: '@Url.Action("AddToFavourite", "Product")',
             getFavouriteUrl: '@Url.Action("GetFavourite", "Product")'
        });
         ProductModule.config({
         });
     });
</script>