﻿.s-tab-zoom.owl-carousel .owl-nav button {
    position: absolute;
    background: #f2f2f2;
    border-radius: 3px;
    height: 32px;
    top: 50%;
    transform: translatey(-50%);
    width: 32px;
    text-align: center;
    line-height: 32px;
    left: -7px;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

    .s-tab-zoom.owl-carousel .owl-nav button:hover {
        background: #40A944;
        color: #ffffff;
    }

    .s-tab-zoom.owl-carousel .owl-nav button.owl-next {
        right: -7px;
        left: auto;
    }

@media only screen and (max-width: 767px) {
    .product-details-tab {
        margin-bottom: 56px;
    }
}

.product-details-tab:hover .s-tab-zoom.owl-carousel .owl-nav button {
    opacity: 1;
    visibility: visible;
}

.comment-date {
    font-size: 12px;
}

button:hover {
    background-color: #94C11E !important;
}

.field-validation-error {
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.required {
    font-size: 75%;
    color: #dc3545;
}

.validation-summary-errors {
    font-size: 90%;
    color: #dc3545;
    text-align: center;
}

.page-item.active .page-link {
    background-color: #40A944;
    border: 1px solid #40A944;
}

.product_info_button ul li a.active {
    color: #40A944;
}

div.note {
    background-color: #f4f4f4;
    font-size: 80%;
}

span.note {
    font-style: italic;
    font-size: 80%;
}

button.btn-order {
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
}

    button.btn-order:hover {
        background-color: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    .disabled{
        opacity: 0.5 !important;
    }