﻿@model List<Safira.Domain.Models.Product.ProductModel>

<div class="product_banner_area mb-65">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <p>Sản phẩm mới thêm</p>
                    <h2>Sản phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div class="product_banner_container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="banner_thumb">
                        <a href="javascript:void(0)"><img src="~/frontend/img/banner4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="small_product_area product_column2 owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-770px, 0px, 0px); transition: all 0s ease 0s; width: 2695px;">
                                @for (var i = 0; i < 6; i += 3)
                                {
                                    <div class="owl-item" style="width: 365px; margin-right: 20px;">
                                        <div class="product_items">
                                            @{
                                                var j = 0;
                                                while (j < 3 && i + j < Model.Count)
                                                {
                                                    var item = Model[i + j];
                                                    j += 1;
                                                    <article class="single_product">
                                                        <figure>
                                                            <div class="product_thumb">
                                                                <a class="primary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                                                                    <img src="@(item.ImageUrls.Any() ? item.ImageUrls.First() : "")" alt="">
                                                                </a>
                                                                <a class="secondary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                                                                    <img src="@(item.ImageUrls.Any() && item.ImageUrls.Count > 1 ? item.ImageUrls[1] : "")" alt="">
                                                                </a>
                                                            </div>
                                                            <figcaption class="product_content">
                                                                <h4 class="product_name"><a href="/san-pham/@item.Id/@item.Name.ToLower()">@item.Name</a></h4>
                                                                <partial name="_GrpAction" model="item" />
                                                                <div class="price_box">
                                                                    <span class="current_price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                                                                    @if (item.OldPrice.HasValue)
                                                                    {
                                                                        <span class="old_price">@item.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                                                                    }
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </article>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>