﻿

<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <p>Chia sẽ kinh nghiệm</p>
                    <h2>Món ngon nhà làm</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column3 owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1170px, 0px, 0px); transition: all 0s ease 0s; width: 3900px;">
                       
                        <div class="owl-item" style="width: 390px;">
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"><img src="~/frontend/img/blog1.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <div class="articles_date">
                                                <p>18/01/2019 | <a href="#">eCommerce</a> </p>
                                            </div>
                                            <h4 class="post_title"><a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">Lorem ipsum dolor sit amet, elit. Impedit, aliquam animi, saepe ex.</a></h4>
                                            <footer class="blog_footer">
                                                <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">Show more</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 390px;">
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"><img src="~/frontend/img/blog2.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <div class="articles_date">
                                                <p>18/01/2019 | <a href="#">eCommerce</a> </p>
                                            </div>
                                            <h4 class="post_title"><a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"> dolor sit amet, elit. Illo iste sed animi quaerat nobis odit nulla.</a></h4>
                                            <footer class="blog_footer">
                                                <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">Show more</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 390px;">
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"><img src="~/frontend/img/blog3.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <div class="articles_date">
                                                <p>18/01/2019 | <a href="#">eCommerce</a> </p>
                                            </div>
                                            <h4 class="post_title"><a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">maxime laborum voluptas minus, est, unde eaque esse tenetur.</a></h4>
                                            <footer class="blog_footer">
                                                <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">Show more</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 390px;">
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html"><img src="~/frontend/img/blog2.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <div class="articles_date">
                                                <p>18/01/2019 | <a href="#">eCommerce</a> </p>
                                            </div>
                                            <h4 class="post_title"><a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">Lorem ipsum dolor sit amet, elit. Impedit, aliquam animi, saepe ex.</a></h4>
                                            <footer class="blog_footer">
                                                <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/blog-details.html">Show more</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>