﻿@model List<Safira.Domain.Models.Product.ProductModel>

@if (Model.Any())
{
    <div class="product_area product_deals mb-65">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <p>Sản phẩm mới thêm</p>
                        <h2>Ưa đãi trong tuần</h2>
                    </div>
                </div>
            </div>
            <div class="product_container">
                <div class="row">
                    <div class="col-12">
                        <div class="product_carousel product_column5 owl-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1229px, 0px, 0px); transition: all 0s ease 0s; width: 3933px;">
                                    @for (var i = 0; i < Model.Count; i++)
                                    {
                                        var item = Model[i];
                                        <div class="owl-item" style="width: 225.8px; margin-right: 20px;">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                                                            <img src="@(item.ImageUrls.Any() ? item.ImageUrls.First() : "")" alt="">
                                                        </a>
                                                        <a class="secondary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                                                            <img src="@(item.ImageUrls.Any() && item.ImageUrls.Count > 1 ? item.ImageUrls[1] : "")" alt="">
                                                        </a>
                                                        <div class="label_product">
                                                            <span class="label_sale">Sale</span>
                                                        </div>
                                                        <div class="product_timing">
                                                            @{
                                                                var saleUp = item.SaleUp.Value.Subtract(DateTime.UtcNow);
                                                                <div data-countdown="@item.SaleUp.Value.ToString("yyyy/MM/dd")"></div>
                                                            }
                                                        </div>
                                                        <partial name="_GrpAction" model="item" />
                                                    </div>
                                                    <figcaption class="product_content">
                                                        <h4 class="product_name"><a href="/san-pham/@item.Id/@item.Name.ToLower()">@item.Name</a></h4>
                                                        <div class="price_box">
                                                            <span class="current_price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                                                            @if (item.OldPrice.HasValue)
                                                            {
                                                                <span class="old_price">@item.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                                                            }
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </article>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}