﻿@model List<Safira.Domain.Models.Product.ProductModel>

@for (var i = 0; i < Model.Count; i += 2)
{
    <div class="owl-item" style="width: 212px; margin-right: 20px;">
        <div class="product_items">
            @{
                var j = 0;
                while (j < 2 && i + j < Model.Count)
                {
                    var item = Model[i + j];
                    j += 1;
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                                    <img src="@(item.ImageUrls.Any() ? item.ImageUrls.First() : "")" alt="">
                                </a>
                                <a class="secondary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                                    <img src="@(item.ImageUrls.Any() && item.ImageUrls.Count > 1 ? item.ImageUrls[1] : "")" alt="">
                                </a>
                                <div class="label_product">
                                    <span class="label_sale">Sale</span>
                                    <span class="label_new">New</span>
                                </div>
                                <partial name="_GrpAction" model="item" />
                            </div>
                            <figcaption class="product_content">
                                <h4 class="product_name"><a href="/san-pham/@item.Id/@item.Name.ToLower()">@item.Name</a></h4>
                                <div class="price_box">
                                    <span class="current_price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                                    @if (item.OldPrice.HasValue)
                                    {
                                        <span class="old_price">@item.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                                    }
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                }
            }
        </div>
    </div>
}