﻿@model Safira.Domain.Models.Product.ProductModel

<div class="action_links">
    <ul>
        <li class="add_to_cart"><a class="dev-popover-button dev-add-to-cart" data-product-id="@Model.Id" data-quantity="1" href="javascript:void(0)" title="Thêm vào giỏ hàng"><span class="lnr lnr-cart"></span></a></li>
        <li class="wishlist"><a class="dev-popover-button dev-add-to-favourite" data-product-id="@Model.Id" href="javascript:void(0)" title="Yêu thích"><span class="lnr lnr-heart"></span></a></li>
        <li class="compare"><a class="dev-popover-button dev-share-to-facebook" href="javascript:void(0)" data-product-id="@Model.Id" data-file-id="@Model.Id" title="Chia sẻ"><span class="lnr lnr-sync"></span></a></li>
        <li class="quick_button"><a class="dev-popover-button dev-quick-view-product" data-product-id="@Model.Id" href="javascript:void(0)" title="Xem nhanh"><span class="lnr lnr-magnifier"></span></a></li>
    </ul>
</div>