﻿@using Safira.App.Extensions;
@using Safira.Domain.PagedList;
@model Safira.Domain.Models.Product.ProductListViewModel;

<div class="col-12">
    <div class="shop_toolbar_wrapper">
        <div class="shop_toolbar_btn">
            <button data-role="grid_4" type="button" class="btn-grid-3"></button>
            <button data-role="grid_list" type="button" class="btn-list active"></button>
        </div>
        @*<div class="nice-select">
                <select name="orderby" id="short">
                    <option selected="selected" value="1">Sort by average rating</option>
                    <option value="2">Sort by popularity</option>
                    <option value="3">Sort by newness</option>
                    <option value="4">Sort by price: low to high</option>
                    <option value="5">Sort by price: high to low</option>
                    <option value="6">Product Name: Z</option>
                </select>
            </div>*@
        <div class="page_amount">
            <p>Hiển thị <i>@Model.Items.FirstItemOnPage-@Model.Items.LastItemOnPage</i> trong số <strong>@Model.Items.TotalItemCount</strong> sản phẩm</p>
        </div>
    </div>

    <div class="row shop_wrapper grid_4">
        @for (var i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="single_product">
                    <div class="product_thumb">
                        <a class="primary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                            <img src="@(item.ImageUrls.Any() ? item.ImageUrls.First() : "")" alt="">
                        </a>
                        <a class="secondary_img" href="/san-pham/@item.Id/@item.Name.ToLower()">
                            <img src="@(item.ImageUrls.Any() && item.ImageUrls.Count > 1 ? item.ImageUrls[1] : "")" alt="">
                        </a>
                        <div class="label_product">
                            <span class="label_sale">Sale</span>
                            <span class="label_new">New</span>
                        </div>
                        <partial name="_GrpAction" model="item" />
                    </div>
                    <div class="product_content grid_content">
                        <h4 class="product_name"><a href="/san-pham/@item.Id/@item.Name.ToLower()">@item.Name</a></h4>
                        <div class="price_box">
                            <span class="current_price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                            @if (item.OldPrice.HasValue)
                            {
                                <span class="old_price">@item.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                            }
                        </div>
                    </div>
                    <div class="product_content list_content">
                        <h4 class="product_name"><a href="/san-pham/@item.Id/@item.Name.ToLower()">@item.Name</a></h4>
                        <div class="price_box">
                            <span class="current_price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                            @if (item.OldPrice.HasValue)
                            {
                                <span class="old_price">@item.OldPrice.Value.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</span>
                            }
                        </div>
                        <div class="product_desc">
                            <p>
                                @Html.Raw(item.Useful)
                            </p>
                        </div>
                        <div class="action_links list_action_right">
                            <ul>
                                <li class="add_to_cart"><a class="dev-add-to-cart" data-product-id="@item.Id" data-quantity="1" data-title=" Thêm vào giỏ hàng"><span class="lnr lnr-cart"></span> Thêm vào giỏ hàng</a></li>
                                <li class="wishlist"><a class="dev-popover-button dev-add-to-favourite" data-product-id="@item.Id" href="javascript:void(0)" title="Yêu thích"><span class="lnr lnr-heart"></span></a></li>
                                <li class="compare"><a class="dev-popover-button dev-share-to-facebook" href="javascript:void(0)" data-product-id="@item.Id" data-file-id="@item.Files[0].Id" title="Chia sẻ"><span class="lnr lnr-sync"></span></a></li>
                                <li class="quick_button"><a class="dev-popover-button dev-quick-view-product" data-product-id="@item.Id" href="javascript:void(0)" title="Xem nhanh"><span class="lnr lnr-magnifier"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.PageCount > 1)
    {
        <div class="shop_toolbar t_bottom">
            @*<div class="pagination">
                    <ul>
                        <li class="current">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">next</a></li>
                        <li><a href="#">&gt;&gt;</a></li>
                    </ul>
                </div>*@

            @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("GetProductList", "Home", values:
               new
               {
                   @CategoryId = Model.CurrentFiltering.CategoryId,
                   @PageNumber = page,
                   @PageSize = Model.CurrentFiltering.PageSize,
                   @SortBy = Model.CurrentFiltering.SortBy,
                   @SortDirection = Model.CurrentFiltering.SortDirection,
                   @SearchKeyword = Model.CurrentFiltering.SearchKeyword
               }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
               {
                   Display = PagedListDisplayMode.Always,
                   MaximumPageNumbersToDisplay = 5,
                   DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                   DisplayLinkToLastPage = PagedListDisplayMode.Always,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
               }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "dev-product-list-container", OnComplete = "HomeModule.OnGetProductListComplete", OnBegin = "HomeModule.OnGetProductListBegin" }))

        </div>
    }
</div>