﻿<div class="modal fade" id="dev-quick-view-modal-box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="icon-x"></i></span>
            </button>
            <div class="modal_body">
                <div class="container" id="dev-quick-view-container">
                </div>
            </div>
        </div>
    </div>
</div>