﻿@inject Safira.Domain.IServices.ICategoryService _categoryService;
@model List<Safira.Domain.Models.Product.ProductModel>
@{
    var categories = await _categoryService.GetSelectListAsync("Chọn danh mục");
}
@if (categories.Any())
{
    <div class="product_area  mb-64">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_header">
                        <div class="section_title">
                            <p>Sản phẩm mới thêm</p>
                            <h2>Sản phẩm được ưa chuộng</h2>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#plant1" role="tab" aria-controls="plant1" aria-selected="true">
                                        @categories[1].Text
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#plant2" role="tab" aria-controls="plant2" aria-selected="false">
                                        @categories[2].Text
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#plant3" role="tab" aria-controls="plant3" aria-selected="false">
                                        @categories[3].Text
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="plant1" role="tabpanel">
                                <div class="product_carousel product_column5 owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-1160px, 0px, 0px); transition: all 0s ease 0s; width: 3712px;">
                                            @{
                                                var groupOne = Model.Where(t => t.CategoryId == int.Parse(categories[1].Value)).ToList();
                                                <partial name="_GroupTrend" model="groupOne" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="plant2" role="tabpanel">
                                <div class="product_carousel product_column5 owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-1160px, 0px, 0px); transition: all 0s ease 0s; width: 3712px;">
                                            @{
                                                var groupTwo = Model.Where(t => t.CategoryId == int.Parse(categories[2].Value)).ToList();
                                                <partial name="_GroupTrend" model="groupTwo" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="plant3" role="tabpanel">
                                <div class="product_carousel product_column5 owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-1160px, 0px, 0px); transition: all 0s ease 0s; width: 3712px;">
                                            @{
                                                var groupThree = Model.Where(t => t.CategoryId == int.Parse(categories[3].Value)).ToList();
                                                <partial name="_GroupTrend" model="groupThree" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

