﻿@using Safira.Domain.PagedList;
@model Safira.Domain.Models.Product.ProductListViewModel
@{
    ViewData["Title"] = "Nhóm sản phẩm";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Nhóm sản phẩm</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop_area shop_fullwidth mt-70 mb-70">
    <div class="container">
        <div class="row" id="dev-product-list-container">
            <partial name="_ProductList" model="Model" />
        </div>
    </div>
</div>

<partial name="_QuickView" />

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script src="~/frontend/js/pages/home.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
             quickViewUrl: '@Url.Action("QuickView", "Product")',
             addToCartUrl: '@Url.Action("AddToCart", "Product")',
             goToOrderUrl: '@Url.Action("GoToOrder", "Product")',
             goToCheckoutUrl: '@Url.Action("CheckOut", "Order")',
             removeOutCartUrl: '@Url.Action("RemoveOutCart", "Product")',
             addToFavouriteUrl: '@Url.Action("AddToFavourite", "Product")',
             getFavouriteUrl: '@Url.Action("GetFavourite", "Product")'
        });
         HomeModule.config({
        });
    });
</script>

