﻿@model Safira.Domain.Models.Home.MessageViewModel
@{
    ViewData["Title"] = "Liên hệ";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Liên hệ chúng tôi</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact_message content">
                    <h3></h3>
                    <p>
                        Với mong muốn mang lại cho quý khách hàng những nguồn thực phẩm tươi sạch, bổ rẻ, mà giá cả lại phải chăng.
                    </p>
                    <ul>
                        <li><i class="fa fa-fax"></i> Địa chỉ: Hương Lộ 2, Bình Tân, TP Hồ Chí Minh</li>
                        <li><i class="fa fa-phone"></i> <a href="#">choque@gmail.com</a></li>
                        <li><i class="fa fa-envelope-o"></i><a href="tel:(+84)917610949">(+84)917610949</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact_message form">
                    <h3></h3>
                    <form class="dev-ajax-form" asp-action="ContactUs" asp-controller="Home" method="POST" data-ajax="true"
                          data-ajax-mode="Replace" data-ajax-update="#content" data-ajax-loading="dev-ajax-form"
                          data-ajax-begin="HomeModule.OnContactUsBegin" data-ajax-complete="HomeModule.OnContactUsComplete">
                        <div class="hidden" id="content"></div>
                        <p>
                            <label>Tên của bạn <span class="required">(*)</span></label>
                            <input asp-for="FullName" placeholder="" type="text">
                            <span asp-validation-for="FullName"></span>
                        </p>
                        <p>
                            <label>Email <span class="required">(*)</span></label>
                            <input asp-for="Email" placeholder="" type="email">
                            <span asp-validation-for="Email"></span>
                        </p>
                        <p>
                            <label>Chủ đề</label>
                            <input asp-for="Subject" placeholder="" type="text">
                        </p>
                        <div class="contact_textarea">
                            <label>Nội dung <span class="required">(*)</span></label>
                            <textarea asp-for="Content" placeholder="" class="form-control2"></textarea>
                            <span asp-validation-for="Content"></span>
                        </div>
                        <button type="submit"> Gởi</button>
                        <p class="form-messege"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/frontend/js/pages/home.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         HomeModule.config({
        });
    });
</script>