﻿@model List<Safira.Domain.Models.Product.ProductModel>

@{
    ViewData["Title"] = "Home Page";
    var now = DateTime.UtcNow;
}

<partial name="_Slider" />

<partial name="_Trend" model="Model.Where(t => t.TypeId == Safira.Domain.Enums.ProductTypeEnum.Trend).ToList()" />

<div class="banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <div class="banner_thumb">
                        <a href="javascript:void(0)"><img src="~/frontend/img/banner1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <div class="banner_thumb">
                        <a href="javascript:void(0)"><img src="~/frontend/img/banner2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Deals" model="Model.Where(t => t.SaleUp.HasValue && t.SaleUp.Value > now).ToList()" />

<div class="banner_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner_full_content">
                    <p>Black Fridays !</p>
                    <h2>Sale 50% OFf <span>all vegetable products</span></h2>
                    <a href="javascript:void(0)">discover now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_BestSeller" />

@*<partial name="_Blogs" />*@

<partial name="_QuickView" />

<script src="~/frontend/js/pages/shared.js" asp-append-version="true"></script>
<script src="~/frontend/js/pages/home.js" asp-append-version="true"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GeneralModule.config({
             quickViewUrl: '@Url.Action("QuickView", "Product")',
             addToCartUrl: '@Url.Action("AddToCart", "Product")',
             goToOrderUrl: '@Url.Action("GoToOrder", "Product")',
             goToCheckoutUrl: '@Url.Action("CheckOut", "Order")',
             removeOutCartUrl: '@Url.Action("RemoveOutCart", "Product")',
             addToFavouriteUrl: '@Url.Action("AddToFavourite", "Product")',
             getFavouriteUrl: '@Url.Action("GetFavourite", "Product")'
        });
        HomeModule.config({
        });
    });
</script>