﻿<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-7">
                    <div class="widgets_container contact_us">
                        <div class="footer_logo">
                            <a href="/trang-chu"><img src="~/frontend/img/logo.png" alt=""></a>
                        </div>
                        <p><span>Địa chỉ:</span> Hương Lộ 2, Bình Tân, Hồ Chí Minh</p>
                        <p><span>Email:</span> <a href="#">choque@gmail.com</a></p>
                        <p><span>Liên hệ:</span> <a href="tel:(+84)917610949">(08) 917 610 949</a> </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-7">
                    <div class="widgets_container widget_menu">
                        <h3>Thông tin</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Chính sách giao hàng</a></li>
                                <li><a href="#"> Chính sách bảo mật</a></li>
                                <li><a href="#"> Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="widgets_container widget_newsletter">
                        <h3>Đăng ký nhận bản tin</h3>
                        <p class="footer_desc">Nhận sản phẩm mới bằng cách đăng ký nhận bản tin hàng tuần của chúng tôi</p>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter" novalidate="true">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Nhập email của bạn" name="EMAIL">
                                <button id="mc-submit">Theo dõi</button>
                            </form>

                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div>
                                <div class="mailchimp-success"></div>
                                <div class="mailchimp-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="copyright_area">
                        <p>Bản quyền © 2020 <a href="#">Chợ quê</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="footer_payment">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: inline;"><i class="fa fa-angle-double-up"></i></a>
