﻿@using Microsoft.AspNetCore.Identity;
@inject Safira.Domain.IServices.ICategoryService _categoryService;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userName = string.Empty;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        userName = $"{user.FirstName} {user.LastName}";
        if (string.IsNullOrEmpty(userName))
            userName = user.UserName;
    }
    var categories = await _categoryService.GetSelectListAsync("Chọn danh mục");
}

<header>
    <div class="main_header">
        @*<div class="header_top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="language_currency">
                                <ul>
                                    <li class="language">
                                        <a href="#"> Ngôn ngữ <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="#">Tiếng Việt</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="header_social text-right">
                                <ul>
                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/frontend/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header_right_info">
                            <div class="search_container">
                                <form asp-controller="Home" asp-action="Category" method="get">
                                    <div class="hover_category">
                                        <safira-select asp-items="@categories"
                                                       asp-for-name="categoryid" class="select_option" />
                                    </div>
                                    <div class="search_box">
                                        <input name="keyword" placeholder="Tìm kiếm sản phẩm..." type="text">
                                        <button type="submit"><span class="lnr lnr-magnifier"></span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header_account_area">
                                <div class="header_account_list register">
                                    @if (string.IsNullOrEmpty(userName))
                                    {
                                        <ul>
                                            <li><a asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
                                            <li><span>/</span></li>
                                            <li><a asp-controller="Account" asp-action="Login">Đăng ký</a></li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <ul>
                                            <li>HI <a asp-controller="Account" asp-action="Index">@userName</a></li>
                                            <li><span>/</span></li>
                                            <li><a asp-controller="Account" asp-action="Logout">Đăng xuất</a></li>
                                        </ul>
                                    }
                                </div>
                                <div class="header_account_list header_wishlist">
                                    <a asp-controller="Order" asp-action="Wishlist"><span class="lnr lnr-heart"></span> <span class="item_count" id="dev-favourite-total">0</span> </a>
                                </div>
                                <form id="dev-shopping-cart-form" asp-action="GetShoppingCart" asp-controller="Product" data-ajax="true" method="get"
                                      data-ajax-mode="Replace" data-ajax-update="#dev-shopping-cart-container">
                                    <div class="header_account_list  mini_cart_wrapper" id="dev-shopping-cart-container">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">Tất cả danh mục</h2>
                            </div>
                            <div class="categories_menu_toggle">
                                <ul>
                                    @foreach (var item in categories.Where(t => t.Value != "0").ToList())
                                    {
                                        <li><a href="/danh-muc/@item.Value">@item.Text</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="main_menu menu_position">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="@(ViewBag.Menu == Safira.Domain.Enums.MenuEnum.Home ? "active": "")" href="/trang-chu">Trang chủ</a>
                                    </li>
                                    @*<li class="mega_items">
                                            <a href="javascript:void(0)" class="@(ViewBag.Menu == Safira.Domain.Enums.MenuEnum.Cuisine ? "active": "")">Ẩm thực</a>
                                            <div class="mega_menu">
                                                <ul class="mega_menu_inner">
                                                    <li>
                                                        <a href="#">Miền Bắc</a>
                                                        <ul>
                                                            <li><a href="#">Full Width</a></li>
                                                            <li><a href="#">Full Width list</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Miền Trung</a>
                                                        <ul>
                                                            <li><a href="#">cart</a></li>
                                                            <li><a href="#">Wishlist</a></li>
                                                            <li><a href="#">Checkout</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Miền Nam</a>
                                                        <ul>
                                                            <li><a href="#">product details</a></li>
                                                            <li><a href="#">product sidebar</a></li>
                                                            <li><a href="#">product grouped</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>*@
                                    @*<li>
                                            <a href="javascript:void(0)" class="@(ViewBag.Menu == Safira.Domain.Enums.MenuEnum.Course ? "active": "")">Cẩm nang</a>
                                            <ul class="sub_menu pages">
                                                <li><a asp-controller="Blog" asp-action="Index">Món ngon nhà làm</a></li>
                                                <li><a asp-controller="Blog" asp-action="Index">Kinh nghiệm bếp núc</a></li>
                                                <li><a asp-controller="Blog" asp-action="Index">Văn hóa ẩm thực</a></li>
                                            </ul>
                                        </li>*@
                                    <li><a href="/cam-nang" class="@(ViewBag.Menu == Safira.Domain.Enums.MenuEnum.Course ? "active": "")"> Cẩm nang</a></li>
                                    <li><a href="/lien-he" class="@(ViewBag.Menu == Safira.Domain.Enums.MenuEnum.ContactUs ? "active": "")"> Liên hệ</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="call-support">
                            <p><a href="tel:(+84) 917610949">(+84) 917610949</a> Hỗ trợ khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
