﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thực phẩm tươi sạch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/frontend/img/icon/favicon.ico">
    <link rel="stylesheet" href="~/frontend/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/frontend/plugins/owl.carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/frontend/css/animate.css" rel="stylesheet" />
    <link href="~/frontend/css/font-awesome.css" rel="stylesheet" />
    <link href="~/frontend/css/ionicons.css" rel="stylesheet" />
    <link href="~/frontend/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/frontend/css/linearicons.css" rel="stylesheet" />
    <link href="~/frontend/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/frontend/css/owl.css" rel="stylesheet" />
    <link href="~/frontend/css/plugins.css" rel="stylesheet" />
    <link href="~/frontend/css/slick.css" rel="stylesheet" />
    <link href="~/frontend/css/slinky.css" rel="stylesheet" />
    <link href="~/frontend/css/style.css" rel="stylesheet" />
    <link href="~/frontend/css/site.css" rel="stylesheet" />
    <link href="~/frontend/plugins/jquery-nice-select/nice-select.css" rel="stylesheet" />
    <link href="~/frontend/plugins/jquery.toast/jquery.toast.css" rel="stylesheet" />

    <script src="~/frontend/js/modernizr-3.js"></script>

    <script src="~/frontend/lib/popper.js"></script>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/frontend/plugins/owl.carousel/owl.carousel.js"></script>
    <script src="~/frontend/js/slick.js"></script>
    <script src="~/frontend/js/isotope.js"></script>
    <script src="~/frontend/js/jquery.counterup.min.js"></script>
    <script src="~/frontend/js/jquery.countdown.js"></script>
    <script src="~/frontend/js/jquery.elevatezoom.js"></script>
    <script src="~/frontend/js/jquery.ui.js"></script>
    <script src="~/frontend/js/slinky.js"></script>
    <script src="~/frontend/js/plugins.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/plugins/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/admin/plugins/moment/moment.min.js"></script>
    <script src="~/frontend/plugins/jquery-nice-select/jquery.nice-select.js"></script>
    <script src="~/frontend/js/common/app.common.js"></script>
    <script src="~/frontend/plugins/jquery.toast/jquery.toast.js"></script>
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1625340980973969',
                status: true,
                cookie: true,
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v7.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <partial name="_Header" />

    @RenderBody()

    <partial name="_Footer" />

    @RenderSection("Scripts", required: false)
    <script src="~/frontend/js/main.js"></script>
</body>
</html>
