﻿<section class="slider_section">
    <div class="slider_area owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2526px, 0px, 0px); transition: all 0s ease 0s; width: 8841px;">
                <div class="owl-item active" style="width: 100%;">
                    <div class="single_slider d-flex align-items-center" data-bgimg="/frontend/img/slider1.jpg" style="background-image: url('/frontend/img/slider1.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider_content">
                                        <h1>Giảm giá sản phẩm</h1>
                                        <h2>Thực phẩm tươi ngon</h2>
                                        <p>
                                            100% thực phẩm chuyển từ vùng quê miền trung. Hoàn hảo cho nấu ăn hàng tuần và ăn vặt!
                                        </p>
                                        @*<a href="#">Read more </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 100%;">
                    <div class="single_slider d-flex align-items-center" data-bgimg="/frontend/img/slider2.jpg" style="background-image: url('/frontend/img/slider2.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider_content">
                                        <h1>Thực phẩm sạch</h1>
                                        <h2>Nguồn gốc tự nhiên</h2>
                                        <p>
                                            Thực phẩm sạch, tươi ngon, nguồn gốc tự nhiên
                                        </p>
                                        @*<a href="#">Read more </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 100%;">
                    <div class="single_slider d-flex align-items-center" data-bgimg="/frontend/img/slider3.jpg" style="background-image: url('/frontend/img/slider3.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider_content">
                                        <h1>Hải sản tươi sống</h1>
                                        <h2>Hải sản sạch, tươi ngon</h2>
                                        <p>
                                           Nguồn hải sản tự nhiên được đánh bắt từ vùng biển miền trung, đảm bảo cho bữa ăn ngon và đầy đủ chất dinh dưỡng cho cả gia đình
                                        </p>
                                        @*<a href="#">Read more </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="shipping_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="~/frontend/img/shipping1.jpg" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>Giao hàng miễn phí</h3>
                        <p>Với đơn hàng trên <b>200.000đ</b> trong nội thành phố HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_shipping col_2">
                    <div class="shipping_icone">
                        <img src="~/frontend/img/shipping2.jpg" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>Dịch vụ khách hàng</h3>
                        <p>Tư vấn nhiệt tình, phục vụ xuyên xuốt <b>24/7</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_shipping col_3">
                    <div class="shipping_icone">
                        <img src="~/frontend/img/shipping3.jpg" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>Đảm bảo chất lượng</h3>
                        <p>Giao hàng uy tín, đúng chất lượng cam kết</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_shipping col_4">
                    <div class="shipping_icone">
                        <img src="~/frontend/img/shipping4.jpg" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>Thanh toán an toàn</h3>
                        <p>Giao tiền trực tiếp khi nhận hàng hoặc chuyển khoản</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>