﻿<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth no-csscolumns-breakbefore no-csscolumns-breakafter no-csscolumns-breakinside flexbox picture srcset webworkers" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Safira - 404</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/assets/img/favicon.ico">


    <link rel="stylesheet" href="Safira%20-%20404_files/bootstrap-4.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/owl.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/slick.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/magnific-popup.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/font-awesome.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/ionicons.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/linearicons.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/animate.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/jquery-ui.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/slinky.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/plugins.css">

    <link rel="stylesheet" href="Safira%20-%20404_files/style.css">

    <script src="Safira%20-%20404_files/modernizr-3.js"></script>
</head>
<body>



    <div class="error_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="error_form">
                        <h1>404</h1>
                        <h2>Opps! PAGE NOT BE FOUND</h2>
                        <p>Sorry but the page you are looking for does not exist, have been<br> removed, name changed or is temporarily unavailable.</p>
                        <form action="#">
                            <input placeholder="Search..." type="text">
                            <button type="submit"><i class="icon-search"></i></button>
                        </form>
                        <a href="http://www.jq22.com/demo/jquerybootstrapscmoban202004091027/index.html">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>