﻿@using Safira.App.Extensions;
@using Safira.Domain.PagedList;
@model Safira.Domain.Models.Product.ProductListViewModel


    <div class="card-header">
        <div class="float-left">
            <div class="input-group input-group-sm" style="width: 150px;">
                <div class="input-group-append">
                    <a asp-action="Create" asp-controller="Product" class="btn btn-outline-primary">
                        <i class="fas fa-plus"></i> Thêm mới
                    </a>
                </div>
            </div>
        </div>
        <div class="float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="SearchKeyword" value="@Model.CurrentFiltering.SearchKeyword" class="form-control float-right" placeholder="Tìm kiếm">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="float-right" style="margin-right: 10px;">
            <div class="input-group input-group-sm" style="width: 200px;">
                <safira-select asp-items="Model.Categories"
                               asp-for-name="CategoryId" onchange="ProductModule.Search()" class="custom-select" />
            </div>
        </div>
    </div>
<!-- /.card-header -->
<div class="card-body table-responsive p-0">
    <table class="table table-bordered table-striped safira-table">
        <thead>
            <tr>
                <th style="width: 1%">
                    #
                </th>
                <th style="width: 140px;">
                    @Html.RenderColumn("GetList", "Product", "Name", "Tên sản phẩm", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th style="width: 100px;">
                    @Html.RenderColumn("GetList", "Product", "Price", "Giá bán", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th>
                    @Html.RenderColumn("GetList", "Product", "Description", "Mô tả", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th class="text-center" style="width: 120px;">
                    @Html.RenderColumn("GetList", "Product", "Status", "Trạng thái", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th style="width:150px;" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)
                        </td>
                        <td>
                            @Html.Raw(item.Useful)
                        </td>
                        <td class="text-center">
                            @((Safira.Domain.Enums.StatusEnum)item.StatusId)
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-outline-success btn-sm" title="Xem" href="#">
                                <i class="fas fa-folder">
                                </i>
                            </a>
                            <a class="btn btn-outline-warning btn-sm" title="Sửa" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i>
                            </a>
                            <a class="dev-delete-item-on-list btn btn-outline-danger btn-sm" title="Xóa" data-id="@item.Id" data-name="@item.Name" href="#">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No item to display</td>
                </tr>
            }

        </tbody>
    </table>
</div>
@if (Model.Items.Any())
{
    <div class="card-footer footer-table">
        <div class="float-left">
            Showing <i>@Model.Items.FirstItemOnPage-@Model.Items.LastItemOnPage</i> of <strong>@Model.Items.TotalItemCount</strong> Results | Show @Html.DropDownList("PageSize", Model.PageSizeOptions, null, new { @class = "select-no-search js-pager-pagesize", @data_formId = "#dev-client-list-form" }) entries
        </div>
        @if (Model.Items.PageCount > 1)
        {
            @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("GetList", "Product", values:
              new
              {
                  @CategoryId = Model.CurrentFiltering.CategoryId,
                  @PageNumber = page,
                  @PageSize = Model.CurrentFiltering.PageSize,
                  @SortBy = Model.CurrentFiltering.SortBy,
                  @SortDirection = Model.CurrentFiltering.SortDirection,
                  @SearchKeyword = Model.CurrentFiltering.SearchKeyword
              }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
              {
                  Display = PagedListDisplayMode.Always,
                  MaximumPageNumbersToDisplay = 5,
                  DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                  DisplayLinkToLastPage = PagedListDisplayMode.Always,
                  DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                  DisplayLinkToNextPage = PagedListDisplayMode.Always,
              }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "dev-data-container", OnComplete = "ProductModule.OnGetListComplete", OnBegin = "ProductModule.OnGetListBegin" }))
        }
    </div>
}

@*For sort*@
<input type="hidden" name="PageNumber" value="@Model.CurrentFiltering.PageNumber" />
<input type="hidden" name="SortBy" value="@Model.CurrentFiltering.SortBy" />
<input type="hidden" name="SortDirection" value="@Model.CurrentFiltering.SortDirection" />
<input type="hidden" name="SearchKeyword" value="@Model.CurrentFiltering.SearchKeyword" />
<input type="hidden" name="CategoryId" value="@Model.CurrentFiltering.CategoryId" />
