﻿@model Safira.Domain.Models.Product.ProductViewModel;

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name">Tên sản phẩm <span class="text-danger">*</span></label>
    <input type="text" asp-for="Name" autofocus class="form-control" placeholder="Nhập tên sản phẩm">
    <span asp-validation-for="Name"></span>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- select -->
        <div class="form-group">
            <label>Trạng thái</label>
            <safira-select asp-items="Model.Status"
                           asp-for-name="StatusId" class="select2" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Nhóm</label>
            <safira-select asp-items="Model.Categories"
                           asp-for-name="CategoryId" class="select2" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Sắp xếp</label>
            <safira-select asp-items="Model.Types"
                           asp-for-name="TypeId" class="select2" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- select -->
        <div class="form-group">
            <label>Giá bán</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">VND@*<i class="fas fa-dollar-sign"></i>*@</span>
                </div>
                <input asp-for="Price" type="number" class="form-control" data-type="money" />
                <span asp-validation-for="Price"></span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Giá gốc</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">VND</span>
                </div>
                <input asp-for="OldPrice" type="number" class="form-control" data-type="money" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Ngày hiệu lực giảm giá</label>
            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" id="datepicker" />
                <div class="input-group-append">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <input asp-for="SaleUp" type="hidden" id="dev-sale-up-date" />
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="Useful">Mô tả ngắn gọn</label>
    <div class="mb-3">
        <textarea asp-for="Useful" class="textarea" placeholder=""
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
</div>
<div class="form-group">
    <label asp-for="Description">Mô tả <span class="text-danger">*</span></label>
    <div class="mb-3">
        <textarea asp-for="Description" class="textarea" placeholder=""
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
</div>
<div class="form-group">
    <label asp-for="Processing">Cách chế biến</label>
    <div class="mb-3">
        <textarea asp-for="Processing" class="textarea" placeholder=""
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
</div>
