﻿@model Safira.Domain.Models.Product.ProductViewModel;
@{
    ViewData["Title"] = "Chỉnh sửa sản phấm";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Chỉnh sửa sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active"><a asp-controller="Product" asp-action="Index">Sản phẩm</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <partial name="_CreateOrEdit" model="@Model" />
</div>

<script src="~/admin/js/pages/product.js" asp-append-version="true"></script>
<script type="text/javascript">
    //initEventForNumbericInput();
    Dropzone.autoDiscover = false;
    $('.select2').select2();
    $(function () {
        $("#datepicker").datepicker({
        }).on("change", function () {
            var date = moment(this.value).format('YYYY-MM-DD')
            $("#dev-sale-up-date").val(date);
        });
    });
    $(document).ready(function () {
        $('.textarea').summernote();
        ProductModule.config({
            mode: AppCommon.ActionMode.Edit,
            getListUrl: '@Url.Action("GetList", "Product")',
            dropzoneUploadUrl: '@Url.Action("Upload", "File")',
            dropzoneRemoveUrl: '@Url.Action("Remove", "File")',
            dropzoneGetUrl: '@Url.Action("Get", "File")'
        });
    });
</script>
