﻿@model Safira.Domain.Models.Order.OrderViewModel;

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline card-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Nội dung</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Sản phẩm</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-three-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                                <form asp-action="Save" asp-controller="Order" data-ajax-method="POST" data-ajax="true" id="dev-save-order-form"
                                      data-ajax-begin="OrderModule.OnSaveBegin" data-ajax-complete="OrderModule.OnSaveComplete">
                                    <partial name="_OrderContent" model="@Model" />
                                </form>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                                <form id="dev-shopping-cart-form" asp-action="GetProductList" asp-controller="Order" data-ajax="true" method="get"
                                      data-ajax-mode="Replace" data-ajax-update="#dev-shopping-cart-container">
                                    <div id="dev-shopping-cart-container">
                                        <partial name="_ProductList" model="@Model.Products" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-primary dev-save-order-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade dev-add-new-product-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="select2" style="width: 260px;" id="dev-product-id-select">
                                <option value="0">Chọn sản phẩm</option>
                                @foreach (var item in Model.RawProducts)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="number" id="dev-number-of-product-ip" value="1" class="form-control float-right" placeholder="Số lượng">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-outline-primary dev-submit-add-product-btn">Thêm</button>
            </div>
        </div>
    </div>
</div>