﻿@using Safira.App.Extensions;
@using Safira.Domain.PagedList;
@model Safira.Domain.Models.Order.OrderListViewModel;

<div class="card-header">
    <div class="float-left">
        <div class="input-group input-group-sm" style="width: 150px;">
            <div class="input-group-append">
                <a asp-action="Create" asp-controller="Order" class="btn btn-outline-primary disabled">
                    <i class="fas fa-plus"></i> Thêm mới
                </a>
            </div>
        </div>
    </div>
    <div class="float-right">
        <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="SearchKeyword" value="@Model.CurrentFiltering.SearchKeyword" class="form-control float-right" placeholder="Tìm kiếm">

            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="float-right" style="margin-right: 10px;">
        <div class="input-group input-group-sm" style="width: 200px;">
            <safira-select asp-items="Model.Status"
                           asp-for-name="StatusId" onchange="OrderModule.Search()" class="custom-select" />
        </div>
    </div>
</div>
<!-- /.card-header -->
<div class="card-body table-responsive p-0">
    <table class="table table-bordered table-striped safira-table">
        <thead>
            <tr>
                <th style="width: 5px;">
                    #
                </th>
                <th style="width: 150px;">
                    @Html.RenderColumn("GetList", "Order", "FullName", "Tên khách hàng", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th style="width: 140px;">
                    @Html.RenderColumn("GetList", "Order", "Phone", "Số điện thoại", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th style="width: 140px;">
                    @Html.RenderColumn("GetList", "Order", "Address", "Địa chỉ", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th>
                    @Html.RenderColumn("GetList", "Order", "Description", "Mô tả", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th>
                    @Html.RenderColumn("GetList", "Order", "Price", "Giá", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th class="text-center" style="width: 120px;">
                    @Html.RenderColumn("GetList", "Order", "Status", "Trạng thái", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th class="text-center" style="width: 150px;">
                    Ngày đặt hàng
                </th>
                <th style="width:150px;" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @foreach (var product in item.Products)
                            {
                                <p>
                                    @product.Name <strong> × @product.Quantity kg</strong> =
                                    @((product.Price * product.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture))
                                </p>
                            }
                        </td>
                        <td>
                            @item.Products.Sum(t => t.Price * t.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)
                        </td>
                        <td class="text-center">
                            @if (item.StatusId == Safira.Domain.Enums.OrderStatusEnum.New)
                            {
                                <span class="badge badge-success">Mới</span>
                            }
                            else if (item.StatusId == Safira.Domain.Enums.OrderStatusEnum.ReadyToBeDelivered)
                            {
                                <span class="badge badge-info">Đang xử lý</span>
                            }
                            else if (item.StatusId == Safira.Domain.Enums.OrderStatusEnum.DonePayment)
                            {
                                <span class="badge badge-info">Đã giao hàng</span>
                            }
                            else if (item.StatusId == Safira.Domain.Enums.OrderStatusEnum.Cancelled)
                            {
                                <span class="badge badge-info">Hủy bỏ</span>
                            }
                        </td>
                        <td>
                            @item.CreatedDate.ToString("yyyy-MM-dd HH:mm")
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-outline-success btn-sm" title="Xem" href="#">
                                <i class="fas fa-folder">
                                </i>
                            </a>
                            <a class="btn btn-outline-warning btn-sm" title="Sửa" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i>
                            </a>
                            <a class="dev-delete-item-on-list btn btn-outline-danger btn-sm" title="Xóa" data-id="@item.Id" href="#">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No item to display</td>
                </tr>
            }

        </tbody>
    </table>
</div>
@if (Model.Items.Any())
{
    <div class="card-footer footer-table">
        <div class="float-left">
            Showing <i>@Model.Items.FirstItemOnPage-@Model.Items.LastItemOnPage</i> of <strong>@Model.Items.TotalItemCount</strong> Results | Show @Html.DropDownList("PageSize", Model.PageSizeOptions, null, new { @class = "select-no-search js-pager-pagesize", @data_formId = "#dev-client-list-form" }) entries
        </div>
        @if (Model.Items.PageCount > 1)
        {
            @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("GetList", "Order", values:
              new
              {
                  @StatusId = Model.CurrentFiltering.StatusId,
                  @PageNumber = page,
                  @PageSize = Model.CurrentFiltering.PageSize,
                  @SortBy = Model.CurrentFiltering.SortBy,
                  @SortDirection = Model.CurrentFiltering.SortDirection,
                  @SearchKeyword = Model.CurrentFiltering.SearchKeyword
              }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
              {
                  Display = PagedListDisplayMode.Always,
                  MaximumPageNumbersToDisplay = 5,
                  DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                  DisplayLinkToLastPage = PagedListDisplayMode.Always,
                  DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                  DisplayLinkToNextPage = PagedListDisplayMode.Always,
              }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "dev-data-container", OnComplete = "OrderModule.OnGetListComplete", OnBegin = "OrderModule.OnGetListBegin" }))
        }
    </div>
}

@*For sort*@
<input type="hidden" name="PageNumber" value="@Model.CurrentFiltering.PageNumber" />
<input type="hidden" name="SortBy" value="@Model.CurrentFiltering.SortBy" />
<input type="hidden" name="SortDirection" value="@Model.CurrentFiltering.SortDirection" />
<input type="hidden" name="SearchKeyword" value="@Model.CurrentFiltering.SearchKeyword" />
<input type="hidden" name="StatusId" value="@Model.CurrentFiltering.StatusId" />
