﻿@model Safira.Domain.Models.Order.OrderViewModel;

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="FullName">Tên khách hàng <span class="text-danger">*</span></label>
    <input type="text" asp-for="FullName" autofocus class="form-control" placeholder="Nhập tên sản phẩm">
    <span asp-validation-for="FullName"></span>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- select -->
        <div class="form-group">
            <label>Trạng thái</label>
            <safira-select asp-items="Model.Status"
                           asp-for-name="StatusId" class="select2" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label asp-for="PhoneNumber">Số điện thoại <span class="text-danger">*</span></label>
            <input type="text" asp-for="PhoneNumber" autofocus class="form-control" placeholder="Nhập tên sản phẩm">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label asp-for="Email">Email <span class="text-danger">*</span></label>
            <input type="text" asp-for="Email" autofocus class="form-control" placeholder="Nhập tên sản phẩm">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="Address">Địa chỉ giao hàng <span class="text-danger">*</span></label>
    <input type="text" asp-for="Address" autofocus class="form-control" placeholder="Nhập tên sản phẩm">
    <span asp-validation-for="Address"></span>
</div>
<div class="form-group">
    <label asp-for="Note">Chú thích đơn hàng</label>
    <div class="mb-3">
        <textarea asp-for="Note" class="textarea" placeholder=""
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
</div>