﻿@model List<Safira.Domain.Models.Product.ProductCartViewModel>;

<table class="table table-bordered table-striped safira-table">
    <thead>
        <tr>
            <th class="product_remove" style="width: 150px; align-content: center">Xóa</th>
            <th class="product_name">Sản phẩm</th>
            <th class="product-price">Giá</th>
            <th class="product_quantity">Số lượng</th>
            <th class="product_total">Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="product_remove text-center"><a class="dev-remove-out-cart" data-product-id="@item.ProductId" href="javascript:void(0)"><i class="fa fa-trash"></i></a></td>
                    <td class="product_name">@item.Name</td>
                    <td class="product-price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</td>
                    <td class="product_quantity"><input class="dev-quantity-product-ip" data-product-id="@item.ProductId" min="1" max="100" value="@item.Quantity" type="number"></td>
                    <td class="product_total">@((item.Price * item.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture))</td>
                </tr>
            }
            <tr>
                <td>
                    <button type="button" class="btn btn-outline-primary dev-add-new-product-btn">
                        <i class="fas fa-plus"></i> Thêm mới
                    </button>
                </td>
                <td colspan="3" class="text-right">Tổng cộng</td>
                <td>@Model.Sum(t => t.Price * t.Quantity).ToString("C0", System.Globalization.CultureInfo.CurrentCulture)</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="6">Không có sản phẩm nào trong giỏ hàng của bạn.</td>
            </tr>
        }
    </tbody>
</table>
