﻿@model Safira.Domain.Models.Order.OrderViewModel;
@{
    ViewData["Title"] = "Chỉnh sửa đơn hàng";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Chỉnh sửa đơn hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active"><a asp-controller="Product" asp-action="Index">Đơn hàng</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <partial name="_CreateOrEdit" model="@Model" />
</div>

<script src="~/admin/js/pages/order.js" asp-append-version="true"></script>
<script type="text/javascript">
    //initEventForNumbericInput();
    Dropzone.autoDiscover = false;
    $('.select2').select2();
    $(function () {
        $("#datepicker").datepicker({
        }).on("change", function () {
            var date = moment(this.value).format('YYYY-MM-DD')
            $("#dev-sale-up-date").val(date);
        });
    });
    $(document).ready(function () {
        $('.textarea').summernote();
        OrderModule.config({
            mode: AppCommon.ActionMode.Edit,
            addToCartUrl: '@Url.Action("AddToCart", "Order")',
            removeOutCartUrl: '@Url.Action("RemoveOutCart", "Order")',
            products: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products))'),
            rawProducts: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RawProducts))')
        });
    });
</script>
