﻿
@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Đơn hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="" asp-controller="Home">Trang chủ</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content" style="height:100%;">
        <div class="card dev-ajax-form">
            <div class="card-body p-0">
                <div class="box box-body no-border-top">
                    <form id="dev-order-list-form" asp-action="GetList" asp-controller="Order" data-ajax="true" method="get"
                          data-ajax-mode="Replace" data-ajax-update="#dev-data-container"
                          data-ajax-complete="OrderModule.OnGetDataComplete" data-ajax-begin="OrderModule.OnGetDataBegin">
                        <div class="row">
                            <div class="col-12" id="dev-data-container">
                                <partial name="_OrderList" model="Model" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="~/admin/js/common/pager.js"></script>
<script src="~/admin/js/pages/order.js" asp-append-version="true"></script>
<script type="text/javascript">
    OrderModule.config({
        mode: AppCommon.ActionMode.View
    });
</script>
