﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/admin/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <link href="~/admin/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote.min.css" rel="stylesheet" />
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/admin/css/site.css" rel="stylesheet" />
    <link href="~/admin/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">*@
    <link href="~/admin/plugins/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/plugins/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/admin/lib/dropzone/dropzone.js"></script>
    <script src="~/admin/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

    <script src="~/admin/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/select2/js/select2.js"></script>
    <script src="~/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js"></script>
    <script src="~/admin/js/common/app.common.js"></script>
    <script src="~/admin/plugins/inputmask/jquery.inputmask.bundle.js"></script>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <partial name="_Header" />
        <partial name="_LeftMenu" />
        @RenderBody()
        <partial name="_Footer" />
    </div>
    <script src="~/admin/dist/js/adminlte.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    @*<script src="~/admin/dist/js/demo.js"></script>
        <script src="~/admin/js/common/app.common.js"></script>*@
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ":hidden, [contenteditable='true']:not([name])"
        });
    </script>
</body>
</html>
