﻿<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-action="" asp-controller="Home" class="brand-link">
        <img src="~/admin/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Quản trị</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/admin/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a asp-action="Logout" asp-controller="Account" class="d-block">Tan Nguyen</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Order" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Đơn hàng
                            <span class="badge badge-danger right">6</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Sản phẩm
                            <span class="badge badge-success right">106</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Category" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Nhóm sản phẩm
                            <span class="badge badge-success right">10</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Thành viên
                            <span class="badge badge-warning right">500</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>