﻿@using Safira.App.Extensions;
@using Safira.Domain.PagedList;
@model Safira.Domain.Models.Category.CategoryListViewModel


<div class="card-header">
    <div class="float-left">
        <div class="input-group input-group-sm" style="width: 150px;">
            <div class="input-group-append">
                <a asp-action="Create" asp-controller="Category" class="btn btn-outline-primary">
                    <i class="fas fa-plus"></i> Thêm mới
                </a>
            </div>
        </div>
    </div>
    <div class="float-right">
        <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="SearchKeyword" value="@Model.CurrentFiltering.SearchKeyword" class="form-control float-right" placeholder="Tìm kiếm">

            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- /.card-header -->
<div class="card-body table-responsive p-0">
    <table class="table table-bordered table-striped safira-table">
        <thead>
            <tr>
                <th style="width: 1%">
                    #
                </th>
                <th style="width: 20%">
                    @Html.RenderColumn("GetList", "Category", "Name", "Tên nhóm sản phẩm", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th>
                    @Html.RenderColumn("GetList", "Category", "Description", "Mô tả", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th style="width: 120px" class="text-center">
                    @Html.RenderColumn("GetList", "Category", "Status", "Trạng thái", null, null, Model.CurrentFiltering, string.Empty)
                </th>
                <th style="width:150px;" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            <a asp-controller="client" asp-action="detail" asp-route-id="@item.Id">@item.Name</a>
                        </td>
                        <td>
                            @Html.Raw(item.Description)
                        </td>
                        <td class="text-center">
                            @((Safira.Domain.Enums.StatusEnum)item.StatusId)
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-outline-success btn-sm" title="Xem" href="#">
                                <i class="fas fa-folder">
                                </i>
                            </a>
                            <a class="btn btn-outline-warning btn-sm" title="Sửa" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i>
                            </a>
                            <a class="dev-delete-item-on-list btn btn-outline-danger btn-sm" title="Xóa" data-id="@item.Id" data-name="@item.Name" href="#">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No item to display</td>
                </tr>
            }

        </tbody>
    </table>
</div>
@if (Model.Items.Any())
{
    <div class="card-footer footer-table">
        <div class="float-left">
            Showing <i>@Model.Items.FirstItemOnPage-@Model.Items.LastItemOnPage</i> of <strong>@Model.Items.TotalItemCount</strong> Results | Show @Html.DropDownList("PageSize", Model.PageSizeOptions, null, new { @class = "select-no-search js-pager-pagesize", @data_formId = "#dev-client-list-form" }) entries
        </div>
        @if (Model.Items.PageCount > 1)
        {
            @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("GetList", "Category", values:
              new
              {
                  @PageNumber = page,
                  @PageSize = Model.CurrentFiltering.PageSize,
                  @SortBy = Model.CurrentFiltering.SortBy,
                  @SortDirection = Model.CurrentFiltering.SortDirection,
                  @SearchKeyword = Model.CurrentFiltering.SearchKeyword
              }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
              {
                  Display = PagedListDisplayMode.Always,
                  MaximumPageNumbersToDisplay = 5,
                  DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                  DisplayLinkToLastPage = PagedListDisplayMode.Always,
                  DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                  DisplayLinkToNextPage = PagedListDisplayMode.Always,
              }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "dev-data-container", OnComplete = "CategoryModule.OnGetListComplete", OnBegin = "CategoryModule.OnGetListBegin" }))
        }
    </div>
}

@*For sort*@
<input type="hidden" name="PageNumber" value="@Model.CurrentFiltering.PageNumber" />
<input type="hidden" name="SortBy" value="@Model.CurrentFiltering.SortBy" />
<input type="hidden" name="SortDirection" value="@Model.CurrentFiltering.SortDirection" />
<input type="hidden" name="SearchKeyword" value="@Model.CurrentFiltering.SearchKeyword" />
