﻿@model Safira.Domain.Models.Category.CategoryViewModel;

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline dev-ajax-form">
                    <div class="card-header">
                        <h3 class="card-title">Nhóm sản phẩm <small></small></h3>
                    </div>
                    <form asp-action="Save" asp-controller="Category" data-ajax-method="POST" data-ajax="true"
                          data-ajax-begin="CategoryModule.OnSaveBegin" data-ajax-complete="CategoryModule.OnSaveComplete">
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name">Tên nhóm sản phẩm</label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="Nhập tên sản phẩm">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Mô tả</label>
                                <div class="mb-3">
                                    <textarea asp-for="Description" class="textarea" placeholder=""
                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <safira-select asp-items="Model.Status"
                                                       asp-for-name="StatusId" class="custom-select" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Nhóm</label>
                                        <safira-select asp-items="Model.Categories"
                                                       asp-for-name="ParentId" class="custom-select" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Sắp xếp</label>
                                        <safira-select asp-items="Model.Orders"
                                                       asp-for-name="Order" class="custom-select" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>