﻿@model Safira.Domain.Models.Category.CategoryViewModel;
@{
    ViewData["Title"] = "Tạo nhóm sản phấm";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tạo nhóm sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active"><a asp-controller="Category" asp-action="Index">Nhóm sản phẩm</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <partial name="_CreateOrEdit" model="@Model" />
</div>

<script src="~/admin/js/pages/category.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.textarea').summernote()
        CategoryModule.config({
            mode: AppCommon.ActionMode.Create,
            getListUrl: '@Url.Action("GetList", "Category")',
            viewListUrl: '@Url.Action("Index", "Category")'
        });
    });
</script>

